$lightgray:#babab1;
$gray: #5c5d57;
$white: #fff;
$transition: 0.4s ease;

// basic styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: $lightgray;
}

.container {
    width: 80%;
    margin: 0 auto;
}
// mixins
@mixin line {
    border: none;
    background: $lightgray;
    height: 2px;
    width: 300px;
    margin: 40px auto 0 auto;
}

@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btn {
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 20px 0;
    border: 2px solid $gray;
    background: transparent;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background: $lightgray;
    }
}
// header
header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    text-align: center;
    @include flex(center, center, column);
    h3 {
        color: $lightgray;
        text-transform: uppercase;
        font-weight: 300;
    }
    hr {
        @include line;
    }
    h1 {
        color: $white;
        font-size: 8rem;
        font-weight: 300;
        letter-spacing:3px;
    }
}

// blog

.blog {
    .container {
        @include flex (space-between, center, row);
    article {
        flex: 0 0 48%;
        margin: 80px auto;
        background: $white;
        text-align: center;
        img {
            width: 100%;
        }
        h3 {
            color: $lightgray;
            font-weight: 300;
            margin-top: 10px
        }
        hr {
            @include line;
            margin: 20px auto;
            width: 150px;
            height: 1px;
        }
        h2 {
            font-weight: 300;
        }
        p {
            color: $gray;
            padding: 20px 10px;
        }
        button {
            @include btn;
        }
        }
    }     
}